
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 4 80% 95%;
    --foreground: 4 10% 20%;

    --card: 4 80% 98%;
    --card-foreground: 4 10% 20%;

    --popover: 4 80% 98%;
    --popover-foreground: 4 10% 20%;

    --primary: 4 90% 58%;
    --primary-foreground: 0 0% 100%;

    --secondary: 4 50% 90%;
    --secondary-foreground: 4 10% 20%;

    --muted: 4 50% 92%;
    --muted-foreground: 4 10% 40%;

    --accent: 36 100% 50%;
    --accent-foreground: 0 0% 10%;

    --destructive: 4 90% 58%;
    --destructive-foreground: 0 0% 100%;

    --border: 4 50% 88%;
    --input: 4 50% 88%;
    --ring: 4 90% 58%;
    
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    
    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 4 80% 95%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 4 80% 95%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 4 80% 95%;

    --primary: 4 90% 58%;
    --primary-foreground: 0 0% 100%;

    --secondary: 4 20% 25%;
    --secondary-foreground: 4 80% 95%;

    --muted: 4 20% 25%;
    --muted-foreground: 4 80% 80%;

    --accent: 36 100% 50%;
    --accent-foreground: 0 0% 10%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;
    
    --border: 4 10% 25%;
    --input: 4 10% 25%;
    --ring: 4 90% 58%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
